.container {
    max-width: 60%;
}

h1, .answer{
    display: flex;
    text-align: center;
    justify-content: center;
}
.input-group {
    margin-top: 5px;
}
.btn, .answer{
    margin-top: 10px;
}

